@page "/Pages/Home"
@model SharpGun.Pages.Home

@{
    ViewData["title"] = "Hello HomeFull";
    Layout = "Layouts/_Frame";
}

<h1>@Model.Message</h1>
<div>
    @{
        await Html.RenderPartialAsync("Shared/Parts/Show");
    }
</div>
